#root{text-align:center;

}


.resultBox{
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

input {
  margin-right: 10px;
}

.result {
  margin-top: 20px;
}